/*  数据片段展示图，用于场景分析页面以及内容详情页面    */
.app-analysis-chart-dom {
    /*    border: 1px solid #9d9d9d; */
    min-height: 300px;
    padding: 10px 0;
}

.app-analysis-chart-dom .action-bar {
    padding:10px 25px 5px 20px;
    background:#fff;
}

.app-analysis-chart-dom .record-time {
    font-weight: 600;
    font-size: 12px;
}

.app-analysis-chart-dom .timeline-dom {
    padding: 10px 20px 10px 50px;
    background:#fff;
}

/* timeline 自定义样式 */
#timeline-slider .ui-slider-tip {
    /*visibility: visible;*/
    opacity: 1;
    top: -20px;
    width: 60px;
    height: 15px;
    line-height: 15px;
    margin-left: -30px;
}

#timeline-slider .ui-slider-pip-first .ui-slider-label {
    /*margin-left: -10px;
    width: 120px;*/

}

#timeline-slider .ui-slider-pip-last .ui-slider-label {
    /*margin-left: -20px;
    width: 120px;*/

}

.app-analysis-chart-dom .chart-dom {
    padding-top: 5px;
}

.app-analysis-chart-dom .video-dom {
}

.app-analysis-chart-dom .description-dom {
    padding: 10px 5px;
    font-weight: 600;
}

.app-analysis-chart-dom .description-dom .desc-title {
    font-size: 18px;
    margin-bottom: 5px;
}

/*  播放速度按钮  */
.mbtn-group>.btn.active, .mbtn-group>.btn:active, .mbtn-group>.btn:focus, .mbtn-group>.btn:hover {
    color: #35b5eb;
    box-shadow: none;
}

/*  播放控制按钮  */
.btn-action-bar>.btn.active, .btn-action-bar>.btn:active, .btn-action-bar>.btn:focus, .btn-action-bar>.btn:hover {
    background-color: #35b5eb;
    color: #FFFFFF;
}