body {
	background-color: #F1F3FA;
}

.newi-control {
	display: block;
	width: 65%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #f5f5f5;
	background-image: none;
	border: solid 1px #f5f5f5;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.newt-control {
	display: block;
	width: 65%;
	height: 70px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #f5f5f5;
	background-image: none;
	border: solid 1px #f5f5f5;
	resize: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cuspicker>button {
	background-color: #f5f5f5;
	border-radius: 0px;
	border: 1px solid #f5f5f5;
}

.dropdown-display-label {
	width: 65%;
	background-color: #f5f5f5;
	border-radius: 0px;
	border: 1px solid #f5f5f5;
}

.dropdown-search>input {
	background-color: #f5f5f5;
	border-radius: 0px;
	border: 1px solid #f5f5f5;
}

.form-group {
	margin-top: 30px;
}

label {
	color: #bebebe;
}

.publish-text{
	margin-bottom:10px;
	text-align:center;
	color:#35b5eb;
	font-size:18px;
}

.publish-img {
	padding: 5px;
}
.publish-recorder {
	padding: 5px;
}

.avatar-img {
	height: 100px;
	width: 100px;
}