/** app css **/
body{
    background: rgba(245, 245, 245, 0.8);
    padding-top:60px;
}

.app-tab-pane-content{
    padding-top: 10px;
}

.app-page-introduction{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}

/** app-experiment.html **/
.app-exp-button-group{
    margin-bottom: 10px;
}

.app-exp-status-container{
    padding-left: 5px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
    border-left: 3px solid #9d9d9d;
}

.app-exp-status-container span{
    margin-right: 20px;
}

.app-exp-track-container{
    padding: 10px 10px 10px 0;
    margin: 10px 5px;
    border: 2px solid #eeeeee;
}

.app-exp-track-chart{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
}

.app-exp-track-statistics{
    border-radius: 5%;
    background-color: rgba(154, 154, 154, 0.1);
    min-height: 40px;
    height: 280px;
}

.app-exp-track-statistics .title{
    padding: 15px 10px 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #9d9d9d;
}

.app-exp-track-statistics .content{
    padding: 5px 10px 5px 10px;
}

.app-exp-track-statistics .content-title{
    margin: 0 auto 10px;
    font-size: 16px;
    font-weight: 600;
    color: #9d9d9d;
    text-align: left;
}

.app-exp-track-statistics .content-text{
    font-size: 20px;
    color: #ff5a00;
}

.app-exp-track-statistics .content-threshold-text{
    font-size: 20px;
    color: #5c5b5b;
}

.recorder-button {
    text-align: center;
    margin-top: 10px;
}

.recorder-button .btn{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

/** app-analysis.html **/
.app-analysis .exp-chart:first-child{
    margin-top: 5px;
}
.app-analysis .exp-video{
    padding: 20px 30px 10px 30px;
}