/** app css **/
body{
    background: #F1F3FA;
    padding-top:60px;
}

/* 场景页面主布局样式 */
.sidebar-panel {
    position: fixed;
    top: 70px;
    bottom: 5px;
    z-index: 1000;
    display: block;
    padding: 0 5px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-panel {
    position: fixed;
    top: 70px;
    bottom: 5px;
    right: 3px;
    z-index: 1000;
    display: block;
    padding: 0 5px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-content {
    background: #fff;
    padding: 10px 10px 30px;
}

.main-content {
    background-color: #FFFFFF;
    padding: 10px;
}

/* 场景页面左侧导航样式 */
.sidebar-img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.sidebar-info {
    text-align: center;
    margin-top: 20px;
}

.sidebar-info .info-title {
    color: #5b9bd1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.sidebar-info .info-title a{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-info .info-description {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sidebar-buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9d9d9d;
}

.sidebar-buttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidebar-buttons .btn:last-child {
    margin-right: 0;
}

.sidebar-menu {
    padding-top: 15px;
    padding-bottom: 10px;
}

.sidebar-menu .main-menu{
    margin-bottom: 5px;
}

.sidebar-menu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.sidebar-menu ul li:last-child {
    border-bottom: none;
}

.sidebar-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-menu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.sidebar-menu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.sidebar-menu ul li.active {
    border-bottom: none;
}

.sidebar-menu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.sidebar-menu .my-panel{
    border: 0;
}

.sidebar-menu .my-panel-body{
    padding: 5px 15px 5px 15px;
}

.sidebar-menu .my-alter{
    margin-bottom: 0;
    font-weight: 600;
}

.sidebar-menu2{
    padding: 15px 10px 10px 10px;
}

.sidebar-menu2 .my-alter{
    margin-bottom: 0;
    font-weight: 600;
}

.sidebar-menu2 .menu-title{
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.sidebar-menu2 .menu-content{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

/* 场景页面右侧内容样式 */
.app-tab-pane-content{
    padding-top: 10px;
}

.app-page-introduction{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}

/* 场景分析页面样式 */
.app-analysis-tree-dom{
    border-radius: 10px;
    border: 1px solid #9d9d9d;
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.app-analysis-chart-dom{
    border-radius: 5px;
    border: 1px solid #9d9d9d;
    height: 500px;
}

/** app-experiment.html **/
.app-exp-button-group{
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-exp-status-container{
    padding-left: 5px;
    padding-right: 0;
    font-size: 14px;
    font-weight: 600;
    border-left: 3px solid #9d9d9d;
}

.app-exp-status-container span{
    margin-right: 10px;
}

.app-exp-track-container{
    padding: 10px 10px 10px 0;
    margin: 10px 5px;
    border: 2px solid #eeeeee;
}

.app-exp-track-chart{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    min-height: 100px;
}

.app-exp-track-statistics{
    border-radius: 5%;
    background-color: rgba(154, 154, 154, 0.1);
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
}

.app-exp-track-statistics .title{
    padding: 15px 10px 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #9d9d9d;
}

.app-exp-track-statistics .content{
    padding: 5px 10px 5px 10px;
}

.app-exp-track-statistics .content-text{

}

.app-exp-track-statistics .content-sub-text{
    font-size: 12px;
    color: #5c5b5b;
}

.app-exp-track-statistics .content-now-text{
    padding-left: 50px;
    font-size: 28px;
    color: #d43f3a;
    font-weight: 600;
}

.app-exp-track-statistics .content-bound-sensor{
    margin: 10px auto 10px;
    font-size: 14px;
    font-weight: 600;
    color: #9d9d9d;
    text-align: left;
}

.app-exp-button{
    padding-right: 0;
}

.app-exp-button .btn{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    /*-webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;*/
}

/** app-analysis.html **/
.app-analysis-content-desc{
    padding: 10px 20px 10px 20px;
    font-weight: 600;
}

.app-analysis-content-desc .title{
    font-size: 18px;
    margin-bottom: 5px;
}

.app-analysis-content-desc .content{
    padding: 5px 10px 5px 10px;
    border: 1px solid #9d9d9d;
    font-size: 14px;
}

.app-analysis-video{
    padding: 10px 30px 0 20px;
}
.app-analysis-content-info{
    border-radius: 5%;
    background-color: rgba(154, 154, 154, 0.1);
    min-height: 100px;
    padding: 10px 0 10px 0;
}

.app-analysis-content-info .title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.app-analysis-content-info .info{
    padding: 15px 10px 5px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #9d9d9d;
}

.app-analysis-content-info .info .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.app-analysis-content-info .my-container{
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}