/** app css **/
body{
    background: #F1F3FA;
    padding-top:60px;
}

/* 场景页面主布局样式 */
.sidebar-panel {
    position: fixed;
    top: 70px;
    bottom: 5px;
    z-index: 1;
    display: block;
    padding: 0 5px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-panel {
    position: fixed;
    top: 70px;
    bottom: 5px;
    right: 3px;
    z-index: 1;
    display: block;
    padding: 0 5px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-content {
    background: #fff;
    padding: 10px 10px 30px;
}

.main-content {
    background-color: #FFFFFF;
    padding: 10px;
}

/* 场景页面左侧导航样式 */
.sidebar-img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.sidebar-info {
    text-align: center;
    margin-top: 20px;
}

.sidebar-info .info-title {
    color: #337ab7;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.sidebar-info .info-title a{
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-info .info-description {
    text-transform: uppercase;
    color: #337ab7;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sidebar-buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9d9d9d;
}

.sidebar-buttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sidebar-buttons .btn:last-child {
    margin-right: 0;
}

.sidebar-menu {
    padding-top: 15px;
    padding-bottom: 10px;
}

.sidebar-menu .main-menu{
    margin-bottom: 5px;
}

.sidebar-menu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.sidebar-menu ul li:last-child {
    border-bottom: none;
}

.sidebar-menu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-menu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.sidebar-menu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.sidebar-menu ul li.active {
    border-bottom: none;
}

.sidebar-menu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.sidebar-menu2{
    padding: 15px 10px 10px 10px;
}

.sidebar-menu2 .my-alter{
    margin-bottom: 0;
    font-weight: 600;
}

.sidebar-menu2 .menu-title{
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.sidebar-menu2 .menu-content{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sidebar-menu2 .menu-btn {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.sidebar-menu2 ul li.active {
    border-bottom: none;
}

.sidebar-menu2 ul li.active a {
    color: #9e9e9e;
    background-color: #FFFFFF;
    border-left: 2px solid #5e5e5e;
    margin-left: -17px;
}

.sidebar-menu2 ul li a{
    margin-left: -15px;
}

/* 场景页面右侧内容样式 */
.app-tab-pane-content{
    padding-top: 10px;
}

.app-page-introduction{
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}

/* 场景分析页面样式 */
.app-analysis-tree-group{
    padding-bottom: 5px;
}

.app-analysis-tree-dom{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(245, 245, 245);
    margin-bottom: 5px;
}

.app-analysis-tree-dom .tree-info{
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(154, 154, 154, 0.1);
}

.app-analysis-tree-dom .tree-chart{
    height: 200px;
    width: 100%;
}

.app-analysis-chart-dom{
    border: 1px solid #9d9d9d;
    min-height: 300px;
    padding: 10px 5px;
}

.app-analysis-chart-dom .action-bar{
    padding: 0 10px 5px 10px;
}

.app-analysis-chart-dom .timeline-dom{
    padding: 10px 30px 20px;
}

/* timeline 自定义样式 */
#timeline-slider .ui-slider-tip {
    /*visibility: visible;*/
    opacity: 1;
    top: -40px;
    width: 80px;
    height: 35px;
    line-height: 15px;
    margin-left: -40px;
}

#timeline-slider .ui-slider-pip-first .ui-slider-label {
    margin-left: -30px;
    width: 120px;
}

#timeline-slider .ui-slider-pip-last .ui-slider-label {
    margin-left: -85px;
    width: 120px;
}

.app-analysis-chart-dom .chart-dom{

}

.app-analysis-chart-dom .chart-dom .my-panel{
    border-radius: 0;
    margin-bottom: 0;
}

.app-analysis-chart-dom .chart-dom .my-panel-heading{
    padding: 5px 15px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
}

.app-analysis-chart-dom .chart-dom .my-panel-body{
    padding: 0;
}

.app-analysis-chart-dom .description-dom{
    padding: 10px 5px;
    font-weight: 600;
}

.app-analysis-chart-dom .description-dom .desc-title{
    font-size: 18px;
    margin-bottom: 5px;
}

.app-analysis-chart-dom .video-dom .my-panel{
    border-radius: 0;
    margin-bottom: 0;
}

.app-analysis-chart-dom .video-dom .my-panel-heading{
    padding: 5px 15px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
}

.app-analysis-info-dom{
    padding: 5px 20px;
}

/** 场景实验页面样式 app-experiment.html **/
.app-exp-action-bar{
    margin-bottom: 5px;
    padding: 5px 15px;
    /*background-color: #f5f5f5;*/
    border: 1px solid rgb(245, 245, 245);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.app-exp-container{

}

.app-exp-container .my-alert{
    margin: 10px;
    font-weight: 600;
    font-size: 16px
}

.app-exp-container .my-panel-body{
    padding: 0;
}

.app-exp-status{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
}

.app-exp-content{
    padding: 0;
}

.app-exp-content .track{
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #eeeeee;
}

.track .track-info{
    padding: 5px 20px;
    border-bottom: 2px solid #eeeeee;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 14px;
    font-weight: 600;
}

.track .track-bound{
    color: #9d9d9d;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
    border-left: 3px solid #9d9d9d;
}

.track .track-content{
    min-height: 50px;
    padding: 5px 0;
}

.track .track-content .my-panel{
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
}

.track .track-content .my-panel-heading{
    padding: 5px 15px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
}

.track .track-chart{
    padding: 0;
    min-height: 100px;
    margin-right: -10px;
}

.track .track-statistics{
    border-radius: 5%;
    background-color: rgba(154, 154, 154, 0.1);
    padding: 10px 5px;
}

.track .track-statistics .content-sub-text{
    font-size: 12px;
    color: #5c5b5b;
}

.track .track-statistics .content-now-text{
    padding-left: 20px;
    font-size: 28px;
    color: #d43f3a;
    font-weight: 600;
}