/** 通用：导航栏样式 **/
.navbar {
    margin-bottom:0;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar .navbar-nav>li>a {
    color: #828587;
    height: 60px;
    line-height: 60px;
    font-size:16px;
    padding-top:0;
    padding-bottom:0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FFFFFF;
    background-color: rgba(74, 145, 244, 0.7);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
    background-color: #4b91f4;
}

.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
    color: rgba(154, 154, 154, 1);
}

.navbar-logo-img {
    height: 60px;
}

.navbar-login-ul {
    border-left:solid 1px #d9d9de;
}

/* 通用：滚动条样式 */
.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

/** 通用：脚注样式 **/
.footer{
    background-color: #eee;
    border-top: 1px solid #ccc;
    color: #666;
    font-size: 14px;
}

.content-about-us {
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eeeeee;
    color: #666;
    /*border-top: solid 1px #ccc;*/
}

.content-about-us .title{
    font-size: 24px;
    line-height: 40px;
    color: #2e87c5;
}

.content-about-us .desc{
    width: 88%;
    max-width: 1005px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin: 30px auto auto;
    color: #666;
}

.copyright {
    width: 100%;
    height: 53px;
    border-top: solid 1px #ccc;
    text-align: center;
    font-size: 16px;
    line-height: 53px;
    clear: both;
}