<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<title>DATA CAMERA场景页</title>
	<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{source/bootstrap/bootstrap-select.min.css}" />

	<link rel="stylesheet" th:href="@{source/bootstrap/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{source/validation/formValidation.min.css}" />

	<link rel="stylesheet" th:href="@{source/video/video-js.min.css}" />
	<link rel="stylesheet" th:href="@{source/timeline/timeline.css}" />
	<link rel="stylesheet" th:href="@{source/datepicker/bootstrap-datetimepicker.min.css}" />
	<link rel="stylesheet" th:href="@{source/table/bootstrap-editable.css}" />
	<link rel="stylesheet" th:href="@{source/shake/csshake.min.css}" />
	<link rel="stylesheet" th:href="@{source/jqueryui/jquery-ui.css}" />
	<link rel="stylesheet" th:href="@{source/jqueryui/jquery-ui-slider-pips.css}" />
	<link rel="stylesheet" th:href="@{source/jqueryui/multi-select.css}" />

	<link rel="stylesheet" th:href="@{source/messenger/messenger.css}" />
	<link rel="stylesheet" th:href="@{source/messenger/messenger-theme-air.css}" />

	<link rel="stylesheet" th:href="@{css/bsq/main.css}" />
	<link rel="stylesheet" th:href="@{css/bsq/app.css}" />
	<link rel="stylesheet" th:href="@{css/bsq/app-content.css}" />
</head>
<body>
	<div class="navbar-wrapper" th:include="module/common::nav"></div>
	<div style="margin-top: 3px;">
		<!-- 左侧sidebar -->
		<div class="col-sm-3 col-md-3 col-xs-3" style="padding: 0;">
			<div class="sidebar-content">
				<!-- 管理页面图片 -->
				<!-- <img th:if="!${param.id}" th:src="@{/img/index/nav11.png}" class="img-responsive" alt=""/> -->
				<!-- 内容介绍 -->
				<div class="sidebar-top">
					<div class="sidebar-info" style="padding: 0px">
						<div th:if="!${param.id}" class="info-title">WELCOME</div>
						<div th:if="${param.id}" class="info-title">
							<div th:text="|场景：${app.name}|" style="font-size: 16px"></div>
							<a data-toggle="collapse" href="#app-info" aria-expanded="false"
								aria-controls="app-info" style="color: #fff; font-size: 10px">查看详情</a>
						</div>
						<div class="info-description">
							<div th:if="!${param.id}">在这里可以看到你账户下的设备及场景的相关统计</div>
							<div th:if="${param.id}" class="collapse" id="app-info">
								<div th:text="|场景编号: ${app.id}|"></div>
								<div
									th:text="|创建时间: ${#dates.format(app.createTime, 'yyyy-MM-dd HH:mm:ss')}|"></div>
								<div th:text="|场景描述: ${app.description}|"></div>
							</div>
						</div>
					</div>

					<!-- 操作按钮 -->
					<div>
						<div class="sidebar-buttons">
							<button th:if="!${param.id}" type="button"
								class="btn sidebar-buttons"
								style="background-color: #fff; color: #36b5eb; font-weight: 1px"
								data-toggle="modal" data-target="#app-modal" todo="new">新建场景</button>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<button th:if="${param.id}" type="button"
									class="btn btn-sm btn-white" data-toggle="modal"
									data-target="#app-modal" todo="edit">编辑场景</button>
							</div>
							<div class="col-md-2 col-sm-2"></div>
							<div class="col-md-3 col-sm-3">
								<button th:if="${param.id}" type="button"
									class="btn btn-sm btn-pink1" onclick="deleteApp(this)">删除场景</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 场景列表 -->
				<div class="sidebar-menu" id="app-menu">
					<ul class="nav main-menu">
						<li th:class="${param.id}?'':'active'"><a th:href="@{/app}"><i
								class="glyphicon glyphicon-home"></i>&nbsp; 场景管理页面</a></li>
					</ul>
					<div class="btn app-list">
						<i class="fa fa-bars"></i>&nbsp;场景列表<i
							class="fa fa-angle-down pull-right"
							style="font-weight: 600; line-height: 16px; padding-left: 30px;"></i>
					</div>
					<ul class="nav" style="padding-left: 20px">
						<th:block th:each="entry,index:${apps}">
							<li
								th:class="${#httpServletRequest.getParameter('id') eq ''+entry.key}?'active':''">
								<a th:href="@{/app(id=${entry.key})}"
								th:class="|app-${index.count}|">
									<span th:class="${#httpServletRequest.getParameter('id') eq ''+entry.key}?'fa fa-circle':'fa fa-circle-o'"></span>
									&nbsp;<span th:text="${entry.value.name}"></span> </a></li>
						</th:block>
					</ul>
				</div>

				<!-- 片段列表 -->
				<div class="sidebar-menu" id="content-menu" th:if="${param.id}"
					hidden="hidden">
					<ul class="nav main-menu">
						<li th:class="${param.id}?'':'active'"><a th:href="@{/app}"><i
								class="glyphicon glyphicon-home"></i>&nbsp; 场景管理页面</a></li>
					</ul>
					<div class="btn app-list">
						<i class="fa fa-bars"></i>&nbsp;场景列表<i
							class="fa fa-angle-down pull-right"
							style="font-weight: 600; line-height: 16px; padding-left: 60px;"></i>
					</div>
					<th:block th:each="entry,index:${apps}">
						<div class="nav" style="padding-left: 20px;">
							<div style="padding: 5px 0 15px 15px;">
								<a class="no-de" type="button"
									th:href="@{/app(id=${entry.key},tab=2)}">
									<span th:class="${#httpServletRequest.getParameter('id') eq ''+entry.key}?'fa fa-circle':'fa fa-circle-o'"></span>
									&nbsp;<span th:text="${entry.value.name}"></span>
								</a>
							</div>
						</div>
						<div
							th:if="${#httpServletRequest.getParameter('id') eq ''+entry.key}"
							class="menu-content collapse in"
							th:id="|recorder-${index.count}|">
							<!-- 该场景没有片段记录数据 -->
							<div th:if="${not #maps.containsKey(recorders, entry.key)}"
								class="alert alert-warning my-alter" role="alert">没有可选的数据片段</div>
							<!-- 遍历片段记录数据 -->
							<div>
								<ul class="nav"
									th:if="${#maps.containsKey(recorders, entry.key)}">
									<th:block th:each="recorder,index:${recorders[entry.key]}">
										<li style="font-size: 9px; padding: 5px 0px 5px 50px;"
											th:if="${recorder.isUserGen eq 0 and recorder.isRecorder eq 0}"
											th:data="${recorder.id}">
												<div th:data="${recorder.id}" th:href="|#${recorder.id}|">
													<div th:text="|${recorder.name}|">
													</div>
													<div
															th:if="${recorder.isUserGen eq 0 and recorder.isRecorder eq 0}"
															th:text="|${#dates.format(recorder.startTime, 'HH:mm:ss')} - ${#dates.format(recorder.endTime, 'HH:mm:ss')}|"></div>
												</div>
											</li>
									</th:block>
								</ul>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>

		<div class="col-sm-9 col-md-9 col-xs-9" style="padding: 0">
			<!-- 管理页面的内容展示 -->
			<div th:if="!${param.id}" id="app-management">
				<!-- <img th:src="@{/img/quickstart.jpg}" alt="xxx1" />-->
				<div style="background-image: url(img/quickstart.jpg); width: 100%; height: 600px"></div>
				<div style="min-height: 170px; width: 100%; background-image: url('img/app-bottom.png');">
					<div>
						<div class="app-title">优秀案例</div>
						<div class="app-summary">小字描述优秀案例的内容做简要概括</div>
						<div style="margin-top: 10px; padding-left: 110px;">
							<button class="btn btn-white">点击查看</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 具体应用页面的内容展示 -->
			<div th:if="${param.id}" style="background-color: #fff; min-height: 500px; padding: 20px 0">
				<ul class="nav nav-pills" role="tablist" id="app-main-tab">
					<li role="presentation" th:class="${#httpServletRequest.getParameter('tab') eq '2'}?'':'active'"
						style="border-right: 2px solid #000; padding-right: 15px">
						<a href="#app-experiment" aria-controls="app-experiment" role="tab" data-toggle="tab">试验模式</a></li>
					<li role="presentation" th:class="${#httpServletRequest.getParameter('tab') eq '2'}?'active':''">
						<a href="#app-analysis" aria-controls="app-analysis" role="tab" data-toggle="tab" style="padding-left: 25px">分析模式</a></li>
				</ul>
				<div class="tab-content">
					<div th:include="app/app-tab::app-experiment" id="app-experiment" role="tabpanel"
						 th:class="${#httpServletRequest.getParameter('tab') eq '2'}?'tab-pane fade app-tab-pane-content':'tab-pane active in fade app-tab-pane-content'"></div>
					<div th:include="app/app-tab::app-analysis" id="app-analysis" role="tabpanel"
						 th:class="${#httpServletRequest.getParameter('tab') eq '2'}?'tab-pane fade active in app-tab-pane-content':'tab-pane fade app-tab-pane-content'"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="module/modal::app-modal"></div>
	<div th:include="module/modal::exp-modal"></div>
	<div th:include="module/modal::exp-del-modal"></div>

	<script th:src="@{source/jquery.min.js}"></script>
	<script th:src="@{source/bootstrap/bootstrap.min.js}"></script>

	<!--
        apps:
            key = app_id
            value = appInfo
        experiments:
            key = exp_id
            value = expInfo
        tracks:
            key = track_id
            value = trackInfo
        recorder:
            key = app_id
            value = recorderInfo
        isExperimentMonitor:
            key = exp_id
            if in monitor status, value = 1, else value = 0
        isExperimentRecorder:
            key = exp_id
            value = recorder start time
        expRecorderTime:
            key = exp_id
            value = experiment recorder time if it in recorder state
    -->
	<script th:inline="javascript">
        var apps = [[${apps}]];
        var app = [[${app}]];
        var experiments = [[${experiments}]];
        var tracks = [[${tracks}]];
        var recorders = [[${recorders}]];
        var freeSensors = [[${freeSensors}]];
        var boundSensors = [[${boundSensors}]];
        var sensors = [[${sensors}]];
        var isExperimentMonitor = [[${isExperimentMonitor}]];
        var isExperimentRecorder = [[${isExperimentRecorder}]];
        var expRecorderTime = [[${expRecorderTime}]];
    </script>

	<script th:src="@{source/jqueryui/jquery-ui.js}"></script>
	<script th:src="@{source/jqueryui/jquery-ui-slider-pips.js}"></script>
	<script th:src="@{source/jqueryui/jquery.dropdown.js}"></script>
	<script th:src="@{source/jqueryui/jquery.multi-select.js}"></script>
	<script th:src="@{source/jqueryui/jquery.quicksearch.js}"></script>

	<script th:src="@{source/messenger/messenger.min.js}"></script>
	<script th:src="@{source/messenger/messenger-theme-future.js}"></script>
	<script th:src="@{source/bootstrap/bootstrap-select.min.js}"></script>
	<script th:src="@{source/bootbox/bootbox.min.js}"></script>

	<script th:src="@{source/validation/formValidation.min.js}"></script>
	<script th:src="@{source/validation/bootstrap.min.js}"></script>

	<script th:src="@{source/echarts/echarts.common.min.js}"></script>
	<script th:src="@{source/echarts/infographic.js}"></script>
	<script th:src="@{source/godebug/go-debug.js}"></script>

	<script th:src="@{source/video/video.min.js}"></script>
	<script th:src="@{source/timeline/timeline.js}"></script>
	<script th:src="@{source/datepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{source/table/bootstrap-editable.min.js}"></script>

	<script th:src="@{js/common.js}"></script>
	<script th:if="${param.id}" th:src="@{js/chart.js}"></script>
	<script th:if="${param.id}" th:src="@{js/app/app-experiment-chart.js}"></script>
	<script th:if="${param.id}" th:src="@{js/app/app-experiment-action.js}"></script>
	<script th:if="${param.id}" th:src="@{js/app/app-analysis-action.js}"></script>
	<script th:if="${param.id}" th:src="@{js/app/app-analysis-chart.js}"></script>
	<script th:if="${param.id}" th:src="@{js/app/app-analysis-tree.js}"></script>
	<script th:src="@{js/app/app-controller.js}"></script>
	<script th:src="@{js/app/app-common.js}"></script>
</body>
</html>