<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>DATA CAMERA内容页</title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{source/table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{source/validation/formValidation.min.css}"/>
    <link rel="stylesheet" th:href="@{source/jqueryui/jquery-ui.css}"/>
    <link rel="stylesheet" th:href="@{source/jqueryui/jquery-ui-slider-pips.css}"/>
    <link rel="stylesheet" th:href="@{source/messenger/messenger.css}"/>
    <link rel="stylesheet" th:href="@{source/messenger/messenger-theme-air.css}"/>
    <link rel="stylesheet" th:href="@{source/minirefresh/minirefresh.min.css}"/>
    <link rel="stylesheet" th:href="@{source/video/video-js.min.css}" />

    <link rel="stylesheet" th:href="@{css/bsq/main.css}"/>
    <link rel="stylesheet" th:href="@{css/bsq/content.css}"/>
    <link rel="stylesheet" th:href="@{css/bsq/app-content.css}" />
</head>
<style type="text/css">
    body {
        background-color: #F1F3FA;
    }
</style>
<body>
    <div class="navbar-wrapper" th:include="module/common::nav"></div>
    <!-- 内容概览 -->
    <div class="container content-container"
         style="background-color: #FFF; padding: 0" th:if="!${param.id}">
            <div th:if="!${param.id}" id="content-preview" class="content-preview">
                <div class="" style="padding: 20px 0">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active" style="border-right: 2px solid #000;"><a th:href="@{/content}">我的发布</a></li>
                        <li role="presentation" class=""><a th:href="@{/hot-content}">热门发布</a></li>
                    </ul>
                </div>
                <div style="background-color: #f3f3f3; padding: 0">
                    <!-- 我的发布 -->
                    <div id="my-share" class="share-view">
                        <th:block th:each="content,index:${userContent}">
                            <div class="share-view-container row">
                                <div class="share-view-photo col-md-2">
                                    <img th:src="${content.img}?${content.img}:'img/note.png'" class="img-responsive"/>
                                </div>
                                <div class="col-md-10">
                                    <div class="share-view-title">
                                        <a class="content-title" th:href="@{/content(id=${content.id})}" th:text="${content.title}"></a>
                                        <div class="pull-right">
                                            <button class="btn btn-sm" style="background-color: transparent" th:data="${content.id}" onclick="deleteMyView(this)">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </div>
                                        <div class="content-des" th:text="${content.description}|"></div>
                                        <div class="content-tag">
                                            <th:block th:if="${#strings.isEmpty(content.tag)}">
                                                <!-- todo: 标签为空 -->
                                                <span class="label label-default content-tag-style">无标签</span>
                                            </th:block>
                                            <th:block th:each="tag,index:${#strings.listSplit(content.tag,',')}">
                                                                <span class="label label-default content-tag-style"
                                                                      th:text="|${'标签:'+tag}|">Default</span>
                                            </th:block>
                                        </div>
                                        <div class="content-category">
                                            <span class="label label-default content-tag-style" th:text="|${content.category}|"></span>
                                        </div>
                                    </div>

                                    <div class="share-view-user">
                                        <span class="content-time"
                                              th:text="${'发布时间：'+#dates.format(content.createTime, 'YYYY-MM-dd HH:mm:ss')}"></span>
                                        <span class="pull-right"><i
                                                class="fa fa-user-o content-icon"></i>&nbsp;<span
                                                class="content-num" th:text="${content.view}"></span> <i
                                                class="fa fa-commenting-o content-icon"></i>&nbsp;<span
                                                class="content-num" th:text="${content.comment}"></span>
                                            <i class="fa fa-heart-o content-icon"></i>&nbsp;<span
                                                    class="content-num"
                                                    th:text="${content.like}"></span> </span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
    </div>

    <!-- 详细内容展示 -->
    <div class="container col-sm-10 col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1 col-sm-offset-1" th:if="${param.id}">
        <div class="row">
            <div class="col-md-9" >
                <div class="">
                    <div class="share-view-container" style="padding-left:20px">
                        <div class="row" style="margin-top:20px;">
                            <div class="share-view-photo col-md-2">
                                <img th:src="${currentContent.img}?${currentContent.img}:'img/note.png'"
                                        class="center-block content-img"/>
                            </div>
                            <div class="col-md-9">
								<div class="share-view-title">
									<div class="content-title" th:text="${currentContent.title}"></div>
									<div class="share-view-user">
										<div class="content-d" th:text="|作者：${currentContent.owner}|"></div>
										<span class="content-d"
											th:text="|发布时间：${#dates.format(currentContent.createTime, 'YYYY.MM.dd HH:mm:ss')}"></span>
									</div>
								<!-- 按设计图这两个部分没有 -->
								<!-- 	<div th:text="|分类：${currentContent.category}|"></div> -->
								<!-- 	<div th:text="|标签：${currentContent.tag}|"></div> -->
									<div class="content-tag" style="">
										<th:block th:if="${#strings.isEmpty(currentContent.tag)}">
						  					<span class="label label-default content-tag-style">无标签</span>
										</th:block>
										<th:block
											th:each="tag,index:${#strings.listSplit(currentContent.tag,',')}">
											<span class="label label-default content-tag-style"
												th:text="|${'标签:'+tag}|">Default</span>
										</th:block>
									</div>
						</div>
						</div>		
                        </div>
                        <div class="content-d-des"
                             th:text="|${currentContent.description}|"></div>
                    </div>
                    <div class="return-text">
                        <i class="fa fa-hand-o-left"></i>&nbsp; <a th:href="@{/content}">返回内容页</a>
                    </div>
                    <div style="margin-top: 5px;" th:include="module/app-module::app-recorder-content">
                    </div>
                </div>
            </div>
         	<div class="col-md-3 content-user">
				<div>
					<div class="head-img"></div>
					<div class="username"
						th:text="|${currentContent.owner}|"></div>
				</div>
				<div>
					<div class="content-tag">
						<th:block th:if="${#strings.isEmpty(currentContent.tag)}">
					 		 <span class="label label-default content-tag-style">无标签</span>
						</th:block>
						<th:block
							th:each="tag,index:${#strings.listSplit(currentContent.tag,',')}">
							<span class="label label-default content-tag-style"
								th:text="|${'标签:'+tag}|">Default</span>
						</th:block>
					</div>
                    <div class="content-other">其他作品</div>
					<div class="other-works">
						<th:block th:each="otherContent,index:${userHotContent}">
							<div class="row" th:if="${index.count%2 eq 1 and index.count lt 7}">
                                <div class="share-view-photo col-md-6">
                                    <img th:src="${userHotContent.get(index.count - 1).img}?${userHotContent.get(index.count - 1).img}:'img/logo.png'"
                                         class="center-block content-img" />
                                    <a th:href="@{/content(id=${otherContent.id})}" class="info-content-title" th:text="${userHotContent.get(index.count - 1).title}"></a>
                                </div>
                                <div class="share-view-photo col-md-6" th:if="${#lists.size(userHotContent) gt index.count}">
                                    <img th:src="${userHotContent.get(index.count).img}?${userHotContent.get(index.count).img}:'img/logo.png'"
                                         class="center-block content-img" />
                                    <a th:href="@{/content(id=${otherContent.id})}" class="info-content-title" th:text="${userHotContent.get(index.count).title}"></a>
                                </div>
							</div>
						</th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{source/jquery.min.js}"></script>
    <script th:src="@{source/bootstrap/bootstrap.min.js}"></script>

    <script th:src="@{source/table/bootstrap-table.min.js}"></script>
    <script th:src="@{source/bootstrap/bootstrap-select.min.js}"></script>
    <script th:src="@{source/bootbox/bootbox.min.js}"></script>

    <script th:src="@{source/messenger/messenger.min.js}"></script>
    <script th:src="@{source/validation/formValidation.min.js}"></script>
    <script th:src="@{source/validation/bootstrap.min.js}"></script>
    <script th:src="@{source/video/video.min.js}"></script>

    <script th:src="@{source/echarts/echarts.common.min.js}"></script>
    <script th:src="@{source/jqueryui/jquery-ui.js}"></script>
    <script th:src="@{source/jqueryui/jquery-ui-slider-pips.js}"></script>
    <script th:src="@{source/messenger/messenger.min.js}"></script>
    <script th:src="@{source/messenger/messenger-theme-future.js}"></script>
    <script th:src="@{source/minirefresh/minirefresh.min.js}"></script>

    <script th:inline="javascript">
        var userContent = [[${userContent}]];
        var hotContent = [[${hotContent}]];
        var currentContent = [[${currentContent}]];
        var recorders = [[${recorders}]];
    </script>

    <script th:src="@{js/common.js}"></script>
    <script th:if="!${param.id}" th:src="@{js/content/content-view.js}"></script>

    <script th:if="${param.id}" th:src="@{js/chart.js}"></script>
    <!-- 暂时共用，后续考虑分开 -->
    <script th:src="@{js/app/app-common.js}"></script>
    <script th:if="${param.id}" th:src="@{js/app/app-analysis-chart.js}"></script>
    <script th:if="${param.id}" th:src="@{js/app/app-analysis-action.js}"></script>
    <script th:if="${param.id}" th:src="@{js/app/app-data-play.js}"></script>
    <script th:if="${param.id}" th:src="@{js/content/content-detail.js}"></script>
</body>
</html>