<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>DATA CAMERA内容页</title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{source/table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{source/validation/formValidation.min.css}"/>

    <link rel="stylesheet" th:href="@{css/v1/main.css}"/>
</head>
<body>
    <div class="navbar-wrapper" th:include="module/common::nav">
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-top: 70px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#my-share" aria-controls="my-share" role="tab" data-toggle="tab">我的发布</a></li>
                    <li role="presentation" class=""><a href="#hot-share" aria-controls="hot-share" role="tab" data-toggle="tab">热门发布</a></li>
                </ul>
                <div class="tab-content">
                    <div id="my-share" role="tabpanel" class="tab-pane active in fade">
                        <div class="alert alert-success" role="alert">...</div>
                    </div>
                    <div id="hot-share" role="tabpanel" class="tab-pane fade">
                        <div class="alert alert-info" role="alert">...</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div th:include="module/common::sub-footer"></div>
        </div>
    </div>

    <script th:src="@{source/jquery.min.js}"></script>
    <script th:src="@{source/bootstrap/bootstrap.min.js}"></script>

    <script th:src="@{source/table/bootstrap-table.min.js}"></script>
    <script th:src="@{source/bootstrap/bootstrap-select.min.js}"></script>
    <script th:src="@{source/bootbox/bootbox.min.js}"></script>

    <script th:src="@{source/messenger/messenger.min.js}"></script>
    <script th:src="@{source/validation/formValidation.min.js}"></script>
    <script th:src="@{source/validation/bootstrap.min.js}"></script>

    <script th:src="@{js/common.js}"></script>
</body>
</html>