<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>DATA CAMERA内容页</title>

    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{source/bootstrap/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{source/minirefresh/minirefresh.min.css}"/>
    <link rel="stylesheet" th:href="@{source/messenger/messenger.css}"/>
    <link rel="stylesheet" th:href="@{source/messenger/messenger-theme-air.css}"/>

    <link rel="stylesheet" th:href="@{css/bsq/main.css}"/>
    <link rel="stylesheet" th:href="@{css/bsq/content.css}"/>
</head>
<body>
    <div class="minirefresh-wrap" id="content-minirefresh">
        <div class="minirefresh-scroll" style="background-color: #F1F3FA;">
            <div class="navbar-wrapper" th:include="module/common::nav"></div>
            <div class="container content-container">
                <div id="content-filter" class="content-filter">
                    <div class="row">
                        <div class="col-sm-4" style="padding-right: 2px">
                            <div class="btn-group" data-toggle="buttons" id="content-search-category">
                                <label class="btn btn-info active">
                                    <input type="radio" name="options" autocomplete="off" checked="checked" value="全部"/>全部
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" autocomplete="off" value="科学"/>科学
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" autocomplete="off" value="技术"/>技术
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" autocomplete="off" value="工程"/>工程
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" autocomplete="off" value="数学"/>数学
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-3" style="padding-right: 2px; padding-left: 2px;">
                            <input type="text" class="form-control" name="search" id="content-search-input" placeholder="搜索共享内容" />
                        </div>
                        <div class="col-sm-1" style="padding-left: 2px">
                            <button type="button" class="btn btn-default btn-block" id="content-search-btn">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="content-menu">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="" style="border-right: 2px solid #000;"><a th:href="@{/content}">我的发布</a></li>
                        <li role="presentation" class="active"><a th:href="@{/hot-content}">热门发布</a></li>
                    </ul>
                </div>
                <div class="share-view content-show">
                    <div id="content-data" class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<script th:src="@{source/jquery.min.js}"></script>-->
    <script th:src="@{source/jquery-2.2.4.js}"></script>
    <script th:src="@{source/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{source/minirefresh/minirefresh.min.js}"></script>
    <script th:src="@{source/messenger/messenger.min.js}"></script>
    <script th:src="@{source/messenger/messenger-theme-future.js}"></script>

    <script th:inline="javascript">
        var userContent = [[${userContent}]];
        var hotContent = [[${hotContent}]];
    </script>

    <script th:src="@{js/common.js}"></script>
    <script th:src="@{js/content/hot-content.js}"></script>
</body>
</html>