<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>DATA CAMERA首页</title>

<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{source/bootstrap/bootstrap-select.min.css}" />
<link rel="stylesheet"
	th:href="@{source/bootstrap/font-awesome.min.css}" />

<link rel="stylesheet" th:href="@{css/bsq/main.css}" />
<link rel="stylesheet" th:href="@{css/v1/index.css}" />
<link rel="stylesheet" th:href="@{css/bsq/index.css}" />
</head>
<body>
	<div class="navbar-wrapper" th:include="module/common::nav"></div>
	<div class="container-fluid">
		<!-- 悬浮在顶部的文字 -->
		<div class="main-text">
			<div style="color: #fff; font-size: 44px">DATA CAMERA 数据平台</div>
			<div style="color: #fff; font-size: 20px">随时随地,让你的设备会说话</div>
			<div style="margin-top: 20px">
				<button class="btn btn-main">现在开始</button>
			</div>
		</div>
		<div class="row">
			<div id="index-carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#index-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#index-carousel" data-slide-to="1"></li>
					<li data-target="#index-carousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img th:src="@{/img/index/slider.jpg}" class="img-responsive"
							alt="xxx1" style="width: 100%" />
						<div class="carousel-caption"></div>
					</div>
					<div class="item">
						<img th:src="@{/img/index/slider2.png}" class="img-responsive"
							alt="xxx2" style="width: 100%" />
						<div class="carousel-caption"></div>
					</div>
					<div class="item">
						<img th:src="@{/img/index/slider.jpg}" class="img-responsive"
							alt="xxx3" style="width: 100%" />
						<div class="carousel-caption"></div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#index-carousel"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#index-carousel"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div class="row nav-container" style="width: 80%; margin-left: 10%">
			<div class="col-sm-4">
				<div class="nav-title">
					<div class="center-block index-point"></div>
				</div>
				<a th:href="@{/app}"> <img th:src="@{/img/index/nav11.png}"
					class="img-responsive center-block" style="height: 50px" />
				</a>
				<div class="nav-title">场景</div>
				<div class="nav-content">
					<div class="sub-title">曾多次和绘画摄影组织及艺术家合作带给宾客充满灵感</div>
				</div>
				<!-- <div class="nav-button">
                    <a class="btn btn-primary" th:href="@{/device}">查看详情</a>
                </div>-->
			</div>
			<div class="col-sm-4">
				<div class="nav-title">
					<div class="center-block index-point"></div>
				</div>
				<a th:href="@{/device}"> <img th:src="@{/img/index/nav12.png}"
					class="img-responsive center-block" style="height: 50px" />
				</a>
				<div class="nav-title">设备</div>
				<div class="nav-content">
					<div class="sub-title">曾多次和绘画摄影组织及艺术家合作带给宾客充满灵感</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="nav-title">
					<div class="center-block index-point"></div>
				</div>
				<a th:href="@{/content}"> <img th:src="@{/img/index/nav13.png}"
					class="img-responsive center-block" style="height: 50px" />
				</a>
				<div class="nav-title">内容</div>
				<div class="nav-content">
					<div class="sub-title">曾多次和绘画摄影组织及艺术家合作带给宾客充满灵感</div>
				</div>
			</div>
		</div>

		<!-- <div class="row">
            <div th:include="module/common::main-footer"></div>
        </div> -->
	</div>

	<script th:src="@{source/jquery.min.js}"></script>
	<script th:src="@{source/bootstrap/bootstrap.min.js}"></script>

	<script th:inline="javascript">
        var sensors = [[${sensors}]];
        var apps = [[${apps}]];
    </script>

	<script th:src="@{source/messenger/messenger.min.js}"></script>
	<script th:src="@{source/bootstrap/bootstrap-select.min.js}"></script>
	<script th:src="@{source/suggestion/bootstrap3-typeahead.js}"></script>

	<script th:src="@{js/common.js}"></script>

</body>
</html>