<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Title</title>

    <link rel="stylesheet" th:href="@{source/video/video-js.min.css}" />
    <link rel="stylesheet" th:href="@{source/ksplayer/ksplayer.min.css}" />
</head>
<body>
    <!--<input id="text" type="text" />
    <button onclick="send()">Send</button>
    <button onclick="closeWebSocket()">Close</button>
    <h1 id="message"></h1>-->

    <div id="video"></div>


    <!--<div id="flow-video" style="margin-top: 50px;width:600px;height:300px;text-align:center">
    </div>

    <div style="margin-top: 50px;">
        <video id="my-js-video" class="video-js" data-setup="{}"></video>
    </div>-->

    <!--<div style="margin-top: 50px">
        <video id="ks-video" class="video-js" width="640" height="400" poster=""></video>
    </div>-->



    <script th:src="@{source/jquery.min.js}"></script>

    <script th:src="@{source/video-baidu/cyberplayer.js}"></script>

    <script th:src="@{source/video-baidu/flowplayer-3.2.13.js}"></script>

    <script th:src="@{source/video/video.min.js}"></script>
    <script th:src="@{source/video/videojs-flash.min.js}"></script>

    <script th:src="@{source/ksplayer/ksplayer.min.js}"></script>

    <script th:src="@{js/test.js}"></script>
</body>


<!--<script type="text/javascript">
    var websocket = null;
    // 判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost/camera/websocket");
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    };

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        setMessageInnerHTML(event.data);
    };

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    };

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    };

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        var message = document.getElementById('text').value;
        websocket.send(message);
    }
</script>-->
</html>