.idea/
*.iml
*.iws

# mac temp file
*/.DS_Store
.DS_Store

target/

logs/

src/main/resources/**

/.project

*.dat

# git update-index --assume-unchanged src/main/resources/*.properties
# git update-index --no-assume-unchanged src/main/resources/*.properties