<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="app-experiment">
		<!-- 实验操作按钮 -->
		<div class="app-exp-action-bar row wi8" style="padding-right: 0">
			<div class="col-sm-10 col-md-10 col-xs-10" style="line-height: 50px">
				<button class="btn btn-pink monitor-btn" id="all-monitor-btn" disabled="disabled">
				 	<img th:src="@{/img/icons/eye1.png}" class="icon" style="height:10px"/>&nbsp;全局监控
				</button>
				<button class="btn btn-blue1 record-btn" style="margin-left: 15px" id="all-record-btn" disabled="disabled">
					<i class="fa fa-video-camera"></i>&nbsp;全局录制
				</button>
			</div>
			<div class="col-sm-2 col-md-2 col-xs-2" style="line-height: 50px; padding-right: 0; text-align: right">
				<button class="btn btn-square" data-toggle="modal" data-target="#exp-modal" todo="new"> <i class="fa fa-plus"></i>
				</button>
			</div>
		</div>

		<div class="app-exp-container wi8">
			<!-- 场景下没有实验 -->
			<div th:if="${#maps.isEmpty(experiments)}" class="alert alert-info my-alert" role="alert">TIPS:
				场景中还没有传感器组，请点击上方“添加传感器组”按钮可进行相关操作:)</div>

			<!-- 遍历构造实验panel -->
			<th:block th:each="experiment,expIndex:${experiments}">
				<div class="panel-heading" style="border-bottom: solid 1px #eee; border-top: solid 1px #eee">
					<div class="panel-title row">
						<div class="col-sm-5 col-md-5 col-xs-5" style="line-height: 40px">
							<!-- 标题 -->
							<!-- 根据设计而改 -->
							<a th:data="${experiment.key}" class="app-group-title">传感器组</a>
							<a class="app-group-title" role="button" data-toggle="collapse" th:href="@{'#exp-'+${experiment.key}}" aria-expanded="true">&nbsp;<i class="fa fa-sort"></i></a>
							<!-- 实验状态和操作栏 -->
							<span style="margin-left: 5px">
								<span class="label label-default" th:id="|experiment-es-${experiment.key}|">非监控</span>
								<span class="label label-default" th:id="|experiment-rs-${experiment.key}|">非录制</span>
							</span>
						</div>
						<div class="col-sm-7 col-md-7 col-xs-7">
							<div class="app-exp-status">
								<div class="btn-group" style="padding-right: 15px">
									<!-- 监控按钮 -->
									<button style="color: #fc4a6c; background-color: transparent" th:if="${not #lists.isEmpty(experiment.value.trackInfoList)}"
										class="btn btn-sm monitor-btn" th:data="${experiment.key}" th:id="|experiment-monitor-${experiment.key}|" disabled="disabled">
										<img th:src="@{/img/eye.png}" style="width:26px;height:16px;"/>
									</button>
									<!-- 录制按钮 -->
									<button style="color: #26c6db; background-color: transparent"
										th:if="${not #lists.isEmpty(experiment.value.trackInfoList)}"
										class="btn btn-sm record-btn" th:data="${experiment.key}"
										th:id="|experiment-recorder-${experiment.key}|" disabled="disabled">
										<i class="fa fa-video-camera"></i>
									</button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default btn-sm" style="background-color: #f4f4f4"
										th:data="${experiment.key}" data-toggle="modal"
										data-target="#exp-modal" todo="edit" from="modify-sensor">
										<i class="fa fa-plus"></i>
									</button>							
									<button class="btn btn-default btn-sm" style="background-color: #f4f4f4"
											th:data="${experiment.key}" data-toggle="modal"
											data-target="#exp-del-modal">
										<i class="fa fa-minus"></i>
									</button>
									<button class="btn btn-default btn-sm"
											th:data="${experiment.key}" data-toggle="modal" style="background-color: #f4f4f4"
											data-target="#exp-modal" todo="edit" from="modify-desc">
										<i class="fa fa-file-text-o"></i>
									</button>
									<button class="btn btn-default btn-sm" style="background-color: #f4f4f4"
											th:data="${experiment.key}" onclick="deleteExp(this)">
										<i class="fa fa-trash"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:id="|exp-${experiment.key}|" class="panel-collapse collapse in" role="tabpanel">
					<div class="panel-body" style="padding: 5px">
						<!-- 实验图表和数据 -->
						<div class="app-exp-content">
							<div th:if="${#lists.isEmpty(experiment.value.trackInfoList)}"
								class="alert alert-info my-alert" role="alert">TIPS:
								传感器组中暂无任何传感器，点击上方“+”按钮可添加传感器:)</div>
							<th:block th:each="track,trackIndex:${experiment.value.trackInfoList}">
								<div class="track">
									<!-- 轨迹信息 -->
									<div class="track-info" th:switch="${track.type}">
										<div class="title">
											<!-- 设备绑定 -->
											<!-- 根据设计下面两行注释 -->
											<!-- <span>传感器：&nbsp;</span> 
											 <a href="#" th:id="|track-bound-${track.id}|" data-type="select"
												data-title="绑定设备"></a> -->
										</div>
									</div>

									<!-- 图表及统计信息, 遍历传感器维度 -->
									<div th:if="${track.sensor==null}" style="height: 50px"></div>
									<div class="track-content" th:if="${track.sensor!=null}">
										<th:block th:each="dim,dimIndex:${#strings.listSplit(track.sensor.sensorConfig.dimension,';')}">
											<div class="panel panel-default my-panel">
												<div class="my-panel-head">
													<div class="panel-title my-panel-title">
														<span class="app-group-title" th:text="|${dim}(${#strings.listSplit(track.sensor.sensorConfig.unit,';').get(dimIndex.count - 1)})|"></span>
														<span class="pull-right">
															<a data-toggle="collapse" th:href="@{'#exp-'+${experiment.key}+'-'+${track.id}+'-'+${dim}|}" aria-expanded="true">
																<i class="fa fa-sort-down" style="color: #9d9d9d;"></i>
															</a>
														</span>
													</div>
												</div>
												<div th:id="'exp-'+${experiment.key}+'-'+${track.id}+'-'+${dim}"
													class="panel-collapse collapse in" role="tabpanel">
													<div class="panel-body my-panel-body">
														<div class="row" >
															<!-- 轨迹绑定的传感器内容，包括：未绑定，数值型，摄像头 -->
															<div class="col-xs-9 col-sm-9 col-md-9">
																<div th:id="'experiment-track-'+${track.id}+'-'+${dim}" class="track-chart">
																</div>
															</div>
															<!-- 轨迹绑定的传感器内容的统计信息 -->
															<div class="col-xs-3 col-sm-3 col-md-3" style="padding-top: 10px;">
																<div class="track-statistics" th:switch="${track.type}">
																	<div style="font-size: 24px; font-weight: 600; padding-bottom: 5px" class="text-center" th:text="${dim}"></div>
																	<div class="content-now-text" th:switch="${track.type}">
																		<div class="text-center">
																			<span th:class="'current-content-value-'+${experiment.key}" th:id="'experiment-now-'+${track.id}+'-'+${dim}">-</span>
																			<span th:text="${#strings.listSplit(track.sensor.sensorConfig.unit,';').get(dimIndex.count - 1)}"></span>
																			<!--<span th:case="1" class="content-sub-text">当前值</span>
																			<span th:case="2" class="content-sub-text">持续时间</span>-->
																		</div>
																	</div>
																	<div class="content-sub-text" th:switch="${track.type}">
																		<div th:case="1">
																			<div class="text-center">
																				最大值：<span th:class="|content-value-${experiment.key}|" style="margin-right: 10px" th:id="'experiment-info-'+${track.id}+'-'+${dim}+'-1'">-</span>
																				最小值：<span th:class="|content-value-${experiment.key}|" th:id="'experiment-info-'+${track.id}+'-'+${dim}+'-2'">-</span>
																			</div>
																		</div>
																		<div th:case="2">
																			<div class="text-center">
																				开始录制时间: <span th:class="|content-value-${experiment.key}|" th:id="'experiment-info-'+${track.id}+'-'+${dim}+'-2'">-</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</th:block>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<div th:fragment="app-analysis">
		<div class="col-sm-12 col-md-12 col-xs-12" style="padding: 0; background-color: #f4f6f9;">
			<!-- 片段关系树形图 -->
			<div class="app-analysis-tree-group analysis-sub-content">
				<!-- 该场景没有片段记录数据 -->
				<div th:if="${#maps.isEmpty(recorders)}"
					 class="alert alert-warning my-info wi8" role="alert">暂无可展示的数据片段</div>
				<!-- 遍历片段记录数据 -->
				<th:block th:each="entry,index:${recorders}">
					<div
							th:if="${entry.value.isUserGen eq 0 and entry.value.isRecorder eq 0}"
							class="app-analysis-tree-dom wi8" th:data="${entry.key}"
							style="background-color: #fff;">
						<div class="tree-info">
							<span th:text="'【'+${entry.value.name}+'】'" style="font-weight: 600"></span> <span
								th:text="${#dates.format(entry.value.startTime, 'yyyy-MM-dd HH:mm:ss')}+'-'+${#dates.format(entry.value.endTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
						</div>
						<div class="tree-chart" th:id="|tree-chart-${entry.value.id}|"
							 style="background-color: #fff; margin: 10px 0"></div>
					</div>
				</th:block>
			</div>

			<div th:include="module/app-module::app-recorder-content">
			</div>
		</div>
	</div>
</body>
<style>
canvas {
background-color:transparent}
</style>
</html>