<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- 数据片段展示图，用于场景分析页面以及内容详情页面 -->
	<div th:fragment="app-recorder-content">
		<div class="app-analysis-chart-dom" hidden="hidden">
			<div class="row analysis-sub-content">
				<div class="col-sm-9 col-md-9 col-no-padding-both">
					<!-- 操作栏 -->
					<div class="analysis-sub-content" id="content-handle-bar">
						<!-- 操作按钮 -->
						<div class="action-bar">
							<!-- 播放速度 -->
							<select class="selectpicker cuspicker" data-width="10%" id="recorder-speed" disabled="disabled">
								<option value="1">X 1</option>
								<option value="0.025">X 0.025</option>
								<option value="0.05">X 0.05</option>
								<option value="0.1">X 0.1</option>
								<option value="0.25">X 0.25</option>
								<option value="0.5">X 0.5</option>
								<option value="1">X 1</option>
								<option value="4">X 4</option>
								<option value="8">X 8</option>
								<option value="16">X 16</option>
								<option value="32">X 32</option>
							</select>

							<!-- 播放、暂停、重置 -->
							<div class="btn-group btn-action-bar">
								<button class="btn btn-grey no-radius" onclick="recorderPlay()" id="play-btn">
									<i class="fa fa-play"></i>
								</button>
								<button class="btn btn-grey no-radius" onclick="recorderPause()" id="pause-btn" disabled="disabled">
									<i class="fa fa-pause"></i>
								</button>
								<button class="btn btn-grey no-radius" onclick="recorderReset()" id="reset-btn">
									<i class="fa fa-repeat"></i>
								</button>
							</div>

							<!-- 内容操作 -->
							<div class="btn-group btn-action-bar pull-right" th:if="${inApp}">
								<button class="btn btn-grey no-radius" data-toggle="modal" data-target="#new-data-recorder-modal">
									<i class="fa fa-cut"></i>&nbsp;截取
								</button>
								<button class="btn btn-grey no-radius" onclick="deleteContent()" id="delete-btn">
									<i class="fa fa-trash"></i>&nbsp;删除
								</button>
								<button class="btn btn-grey no-radius" onclick="shareContent()">
									<i class="fa fa-share"></i>&nbsp;分享
								</button>
							</div>
						</div>

						<!-- 播放时间轴 -->
						<div class="row in-row">
							<div class="col-sm-10 col-md-10 col-no-padding-both">
								<!-- 时间轴栏 -->
								<div class="timeline-dom" id="timeline-slider">
									<div class="slider"></div>
								</div>
							</div>
							<div class="col-sm-2 col-md-2 col-no-padding-both">
								<!-- 记录时间 -->
								<div style="padding-top: 5px;">
									<div class="record-time">
										<span id="recorder-current-time">00:00</span> / <span id="recorder-total-time">-</span>
									</div>
									<div class="record-time">
										<span>2018-09-08 18:25:01</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 数据显示栏 -->
					<div class="analysis-sub-content">
						<!-- 通知栏, 无数据时显示提示 -->
						<div class="wi8" id="app-analysis-info"></div>

						<!-- 纯图表模式下的数据方格显示位置 -->
						<div class="row in-row" style="padding: 0 30px" id="chart-cube">
						</div>

						<!-- 视频显示栏 -->
						<div class="row in-row video-dom">
							<div class="col-sm-8 col-md-8 col-no-padding-both" id="app-analysis-video">
							</div>
							<div class="col-sm-4 col-md-4 col-no-padding-right" id="video-cube">
							</div>
						</div>

						<!-- 图表显示栏 -->
						<div class="row in-row">
							<div style="padding: 5px 20px" id="app-analysis-cube-alert">
								<div class="alert alert-info">点击上方的数据方块选择你想查看的数据</div>
							</div>
							<div class="chart-dom" id="app-analysis-define-chart">
							</div>
							<div class="chart-dom" id="app-analysis-chart">
							</div>
							<div style="padding: 5px 20px" th:if="${inApp}">
								<div class="btn btn-info" data-toggle="modal" data-target="#new-analysis-chart-modal">
									<i class="fa fa-plus"></i>&nbsp;新增对比图表
								</div>
							</div>
						</div>

						<!-- 片段描述 -->
						<div class="description-dom" th:if="${inApp}">
							<div style="margin-bottom: 10px; padding: 0 20px">
								<label class="desc-title">试验标题</label>
								<input class="newi-control" id="app-analysis-title"/>
							</div>
							<div style="padding: 0 20px">
								<label class="desc-title">试验描述</label>
								<textarea class="newt-control" rows="3" id="app-analysis-desc"></textarea>
								<button class="btn btn-info" onclick="saveDataDesc()" style="margin-top: 10px">
									<i class="fa fa-save"></i>&nbsp;保存试验描述
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 事件列表 -->
				<div class="col-sm-3 col-md-3 col-no-padding-left" style="padding-top: 10px">
					<div class="panel panel-default">
						<div class="panel-heading">事件列表(点击可查看事件位置)</div>
						<div class="panel-body" style="padding: 5px">
							<table id="event-table"
								   data-classes="table table-no-bordered table-hover"
								   data-select-item-name="select1"
								   data-sort-name="time"
								   data-id-field="legend"
								   data-page-size="15"
								   data-page-list="[15, 25, 50, 100, ALL]"
								   data-pagination-first-text="首页"
								   data-pagination-pre-text="上一页"
								   data-pagination-next-text="下一页"
								   data-pagination-last-text="尾页">
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>