<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <!-- 新增／编辑 应用 -->
    <div th:fragment="app-modal">
        <div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="app-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="app-modal-title">新建场景</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-app-form">
                            <div class="form-group">

                                <label for="app-name" class="col-sm-2 control-label">场景标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           name="app-name" id="app-name" placeholder="场景标题不能为空"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="app-desc" class="col-sm-2 control-label">场景描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="app-desc"
                                              rows="5"
                                              required="required"
                                              placeholder="简单描述你的场景，不能为空"
                                              id="app-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary btn-block" onclick="$('#edit-app-form').submit()" id="app-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 新增／编辑 实验 -->
    <div th:fragment="exp-modal">
        <div class="modal fade" id="exp-modal" tabindex="-1" role="dialog" aria-labelledby="exp-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exp-modal-title">添加传感器组</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-exp-form">
                            <div class="form-group" id="exp-name-group">
                                <label for="exp-name" class="col-sm-2 control-label">传感器组标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           name="exp-name" id="exp-name" placeholder="传感器组标题不能为空"/>
                                </div>
                            </div>
                            <div class="form-group" id="exp-desc-group">
                                <label for="exp-desc" class="col-sm-2 control-label">传感器组描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="exp-desc"
                                              rows="3"
                                              required="required"
                                              placeholder="简单描述你的传感器组，不能为空"
                                              id="exp-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group" id="exp-select-group">
                                <label for="exp-select" class="col-sm-2 control-label">添加传感器</label>
                                <div class="col-sm-10">
                                    <select multiple="multiple" id="exp-select" name="exp-select"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary btn-block" onclick="$('#edit-exp-form').submit()" id="exp-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 新增，编辑设备 -->
    <div th:fragment="sensor-modal">
        <div class="modal fade" id="sensor-modal" tabindex="-1" role="dialog" aria-labelledby="sensor-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="sensor-modal-title">新增设备</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-sensor-form">
                            <div class="form-group">
                                <label for="sensor-name" class="col-sm-2 control-label">设备名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sensor-name" id="sensor-name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sensor-code" class="col-sm-2 control-label">设备编号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sensor-code" id="sensor-code" placeholder="输入设备上面的编号，如0001"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="file-upload-input" class="col-sm-2 control-label">设备图片</label>
                                <div class="col-sm-10">
                                    <input id="file-upload-input" type="file" class="file" data-preview-file-type="text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sensor-desc" class="col-sm-2 control-label">设备描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="sensor-desc"
                                              rows="5"
                                              required="required"
                                              placeholder="输入设备描述"
                                              id="sensor-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-primary btn-block" onclick="$('#edit-sensor-form').submit()" id="sensor-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>