<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- 新增／编辑 应用 -->
    <div th:fragment="app-modal">
        <div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="app-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="app-modal-title">应用编辑窗口</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-app-form">
                            <div class="form-group">
                                <label for="app-name" class="col-sm-2 control-label">应用标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           name="app-name" id="app-name" placeholder="应用标题不能为空"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="app-desc" class="col-sm-2 control-label">应用描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="app-desc"
                                              rows="5"
                                              required="required"
                                              placeholder="简单描述你的应用，不能为空"
                                              id="app-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-success btn-block" onclick="$('#edit-app-form').submit()" id="app-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 新增／编辑 实验 -->
    <div th:fragment="exp-modal">
        <div class="modal fade" id="exp-modal" tabindex="-1" role="dialog" aria-labelledby="exp-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exp-modal-title">传感器组编辑窗口</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-exp-form">
                            <div class="form-group">
                                <label for="exp-name" class="col-sm-2 control-label">传感器组标题</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           name="exp-name" id="exp-name" placeholder="传感器组标题不能为空"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exp-desc" class="col-sm-2 control-label">传感器组描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="exp-desc"
                                              rows="3"
                                              required="required"
                                              placeholder="简单描述你的传感器组，不能为空"
                                              id="exp-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exp-select" class="col-sm-2 control-label">选择传感器</label>
                                <div class="col-sm-10">
                                    <select class="selectpicker"
                                            multiple="multiple"
                                            data-width="100%"
                                            id="exp-select"
                                            name="exp-select"
                                            title="选取传感器，可多选"
                                            data-selected-text-format="count > 3"
                                            data-actions-box="true">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-success btn-block" onclick="$('#edit-exp-form').submit()" id="exp-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 新增，编辑设备 -->
    <div th:fragment="sensor-modal">
        <div class="modal fade" id="sensor-modal" tabindex="-1" role="dialog" aria-labelledby="sensor-modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="sensor-modal-title">设备编辑窗口</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="edit-sensor-form">
                            <div class="form-group">
                                <label for="sensor-name" class="col-sm-2 control-label">设备名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sensor-name" id="sensor-name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sensor-code" class="col-sm-2 control-label">设备编号</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="sensor-code" id="sensor-code" placeholder="输入设备上面的编号，如0001"/>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="new-sensor-city" class="col-sm-2 control-label">城市位置</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="new-sensor-city" id="new-sensor-city" placeholder="城市名"/>
                                </div>
                                <div class="col-sm-5">
                                    <button type="button" class="btn btn-info btn-block" id="positionBtn">获取位置信息</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-5">
                                    <input type="text" class="form-control" name="new-sensor-longitude" id="new-sensor-longitude" placeholder="longitude"/>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="new-sensor-latitude" id="new-sensor-latitude" placeholder="latitude"/>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label for="sensor-desc" class="col-sm-2 control-label">设备描述</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"
                                              name="sensor-desc"
                                              rows="5"
                                              required="required"
                                              placeholder="输入设备描述"
                                              id="sensor-desc"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="button" class="btn btn-success btn-block" onclick="$('#edit-sensor-form').submit()" id="sensor-confirm-btn">确认创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>